!*.uvprojx
!*.uvproj
!*.uvoptx

*.d
*.o

.cproject
.project
.settings/

*.scvd
*.lst
*.uvguix.*

*/MDK-ARM/JLinkLog.txt
*/MDK-ARM/JLinkSettings.ini
*/MDK-ARM/yyy/
*/MDK-ARM/RTE/
*/MDK-ARM/DebugConfig/

